services:
  api:
    build:
      context: ./src
      dockerfile: EchoHub.Infrastructure/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    ports:
      - "8080:8080"

  client:
    build:
      context: ./src/client
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - api
